<div class="col-md-10">
  <table class="table table-responsive-md table-hover"  >
    <thead class="thead-light">
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <th scope="row">1</th>
        <td>Product 01</td>
        <td>$8000</td>
        <td>
          <a routerLink="/detail"><button class='btn btn-info btn-sm' >Detail</button></a>
          <a class="btn btn-warning btn-sm">
          <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
        </a>
          <a class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
          </a></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>
        <a routerLink="/detail"><button class='btn btn-info btn-sm' >Detail</button></a>
        <a class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
      </a>
        <a class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Product 02</td>
      <td>$8000</td>
      <td>
        <a routerLink="/detail"><button class='btn btn-info btn-sm' >Detail</button></a>
        <a class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
      </a>
        <a class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>
    </tbody>
  </table>
</div>


